hr {
  border-style: dotted none none;
  border-color: gray;
  border-width: thick;
  width: 5%;
}

body {
  background-color: #e1e5f2;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
